<section class="section" id="bodies">
    <div class="container">
        <div class="content has-text-centered">
            <h2>Training Bodies</h2>
        </div>
        <div class="columns has-text-centered">
            <div class="column"></div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image px-2 py-2">
                            <img src="{{ '/assets/img/gwo-logo-borderless.svg' | relative_url }}" alt="GWO Logo">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-2">GWO Courses</p>
                        <p class="subtitle is-6">Global Wind Organisation</p>
                    </div>
                    <footer class="card-footer">
                        <a href="/courses/gwo" class="card-footer-item">Browse Courses</a>
                    </footer>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image px-2 py-2">
                            <img src="{{ '/assets/img/irata-logo-borderless.svg' | relative_url }}" alt="IRATA Logo">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-2">IRATA Courses</p>
                        <p class="subtitle is-6">International Rope Access Trade Association</p>
                    </div>
                    <footer class="card-footer">
                        <a href="/courses/irata" class="card-footer-item">Browse Courses</a>
                    </footer>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>



