<section class="section" id="irata_courses">
    <div class="container">
        <div class="content">
            <h2>{{ site.data.i18n[page.lang].pages.irata.title }}</h2>
            <div class="columns is-multiline">
                {% for course in site.courses %}
                {% if course.body == "irata" %}
                <div class="column is-half">
                    {% include components/course_card.html name=course.name code=course.code url=course.url
                    icon_url="/assets/img/dost-ropeaccess-logo-256x160.svg" %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
