<section class="section" id="dguv_courses">
    <div class="container">
        <div class="content">
            <h2>DGUV Courses</h2>
            <div class="columns is-multiline">
                {% for course in site.courses %}
                {% if course.body == "dguv" %}
                <div class="column is-half">
                    {% include components/course_card.html name=course.name code=course.code url=course.url
                    icon_url="/assets/img/dguv-logo-256x160.svg" %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
