<section class="section" id="gwo_courses">
    <div class="container">
        <div class="content">
            <h2>GWO Courses</h2>
            <div class="columns is-multiline">
                {% for course in site.courses %}
                {% if course.body == "gwo" %}
                <div class="column is-full is-half-desktop">
                    {% include components/course_card.html name=course.name code=course.code url=course.url
                    icon_url="/assets/img/gwo-logo-borderless.svg" %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
