<section class="section" id="gwo_courses">
    <div class="content">
        <h2>GWO Courses</h2>
        <div class="columns is-multiline">
            {% for course in site.courses %}
            {% if course.body == "gwo" %}
            <div class="column is-half">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">{{course.name}}</p>
                        <p class="subtitle is-6">{{course.code}}</p>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{{ course.url }}">Details</a>
                    </footer>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
