<section class="section" id="home">
    <div class="container">
        <div class="content has-text-centered">
            <h2>{{ site.data.i18n[page.lang].home.welcome }}</h2>

            <p>{{ site.data.i18n[page.lang].home.home_p1 }}</p>
            <p>{{ site.data.i18n[page.lang].home.home_p2 }}</p>

            <figure class="image"><img style="max-width: 800px;" src="/assets/img/photos/tc1.jpg"></figure>

            <p>{{ site.data.i18n[page.lang].home.home_p3 }}</p>
            <p>{{ site.data.i18n[page.lang].home.home_p4 }}</p>
            <p>{{ site.data.i18n[page.lang].home.home_p5 }}</p>
        </div>
    </div>
</section>