<section class="section" id="home">
    <div class="container">
        <div class="content has-text-centered">
            <h2>Welcome</h2>
            <p>We offer a selection of GWO & IRATA training courses</p>
            <p>Training takes place at our facilites in Witten, Germany (Dortmund area)</p>
            <p>All our courses are competitively priced</p>
            <p>After completing your GWO training course your record will be uploaded to WINDA</p>
            <p>We can issue digitally signed and online verifiable certificates</p>
        </div>
    </div>
</section>