<section class="section" id="location">
    <div class="container">
        <div class="content">
            <h2>Location</h2>
            <div class="columns">
                <div class="column">
                    <h3>Classroom & Office</h3>
                    <p><i class="fas fa-map-marked-alt"></i> <a href="{{ site.maps_link_classroom }}">{{
                        site.organisation_address_classroom }}</a></p>
                    <div class="image is-4by3">
                        <iframe class="has-ratio map-frame" src="{{ site.maps_embed_classroom }}" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="column ">
                    <h3>Practical Facility</h3>
                    <p><i class="fas fa-map-marked-alt"></i> <a href="{{ site.maps_link_facility}}">{{
                        site.organisation_address_facility }}</a></p>
                    <div class="image is-4by3">
                        <iframe class="has-ratio map-frame" src="{{ site.maps_embed_facility }}" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
