<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ '/' | relative_url }}">
                <img src="{{ 'assets/img/dost-logo-bold-borderless.svg' | relative_url }}" alt="Logo">
                <span id="navbar-logo-text">{{ site.organisation }}</span>
            </a>

            <a role="button" class="navbar-burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">

            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="{{ '/' | relative_url }}">Home</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{ '/courses' | relative_url }}">Courses</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ '/courses/gwo' | relative_url }}">GWO</a>
                        <a class="navbar-item" href="{{ '/courses/irata' | relative_url }}">IRATA</a>
                    </div>
                </div>
                <a class="navbar-item" href="{{ '/prices' | relative_url }}">Prices</a>
                <div class="navbar-item">
                    <a class="button is-primary" href="{{ '/booking' | relative_url }}">Training Calendar & Book Online</a>
                </div>
                <a class="navbar-item" href="{{ '/verification' | relative_url }}">Verification</a>
                <a class="navbar-item" href="{{ '/about' | relative_url }}">About</a>
            </div>
        </div>
    </div>
</nav>