<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ '/' | relative_url }}">
                <img src="{{ 'assets/img/logob.svg' | relative_url }}" alt="Logo">
                <span id="navbar-logo-text">{{ site.organisation }}</span>
            </a>

            <a role="button" class="navbar-burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">

            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown">
                    <a class="navbar-link">
                        About
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            History
                        </a>
                        <a class="navbar-item">
                            Facilities
                        </a>
                        <a class="navbar-item">
                            Team
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown">
                    <a class="navbar-link">
                        Courses
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            GWO
                        </a>
                        <a class="navbar-item">
                            IRATA
                        </a>
                    </div>
                </div>
                <a class="navbar-item">
                    Location
                </a>
                <a class="navbar-item">
                    Price List
                </a>
                <a class="navbar-item">
                    Training Calendar
                </a>
                <div class="navbar-item">
                    <a class="button is-primary">
                        Book Online
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>