<section class="section" id="prices">
    <div class="container">
        <div class="content">
            <h2>Price List</h2>
            <h3>GWO Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for course in site.courses %}
                {% if course.body == "gwo" %}
                    <tr>
                        <td scope="row"><a href="{{course.url}}">{{ course.name }}</a></td>
                        <td>{{ course.duration }} {% if course.duration == 1 %}day{% else %}days{% endif %}</td>
                        <td>{{ course.price }} €</td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <h3>IRATA Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for course in site.courses %}
                {% if course.body == "irata" %}
                    <tr>
                        <td scope="row"><a href="{{course.url}}">{{ course.name }}</a></td>
                        <td>{{ course.duration }} {% if course.duration == 1 %}day{% else %}days{% endif %}</td>
                        <td>{{ course.price }} €</td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>