#navbar-logo-text {
  color: #009de0;
  font-size: 20px;
  margin-left: 0.5em;
}

.hero.is-primary.is-bold {
  background: linear-gradient(141deg, rgba(#0096ad, 0.7) 0%,  rgba(#009de0, 0.7) 71%,  rgba(#0085fa, 0.7) 100%), url('/assets/img/photos/shed.jpg') no-repeat center center scroll;
  background-size: cover;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.map-frame {
  border: 1px solid grey;
}