---
languages: ["en"]
---

$fa-font-path: '/assets/fonts';
@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/solid";

@font-face {
  font-family: 'paralucent';
  src: url('/assets/fonts/Paralucent W00 Medium.ttf');
  //font-display: swap;
}

@import "bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $widescreen;
$family-primary: 'paralucent';
$primary: #009de0;
@import "bulma/bulma";

#navbar-logo-text {
  color: #009de0;
  font-size: 20px;
  margin-left: 0.5em;
}

.hero.is-primary.is-bold {
  background: linear-gradient(141deg, rgba(#0096ad, 0.7) 0%,  rgba(#009de0, 0.7) 71%,  rgba(#0085fa, 0.7) 100%), url('/assets/img/photos/tc1.jpg') no-repeat center center scroll;
  background-size: cover;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.map-frame {
  border: 1px solid black;
}

.card.is-fullheight {
  height: 100%;
  display: flex;
  flex-direction: column;
  .card-footer {
    margin-top: auto;
  }
}
